@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Parte Sandra */

/*header*/
.menu-color .row {
	padding: 2% 0%;
}
.menu-color ul, li{
	display: inline-block;
	color: white;
}
.menu-color {
	background-color: #34405e;
}
nav a {
	padding: 10px 15px;
	color: #838f9a;
}
nav a:hover {
	background-color: #2c3e50;
	color: white;
	text-decoration: none;
}
.activo {
	background: #2c3e50;
	color: whitesmoke;
}
.whitesmoke {
	color: whitesmoke;
}
/*fin header*/
/*section bg-image*/
.bg-1 {
	background-image: url("../images/slider/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.parrafo {
	margin-top: 200px;
	margin-bottom: 250px;
}
/*fin section bg-image*/
/*section verde*/
.verde {
	background-color: #2ecc71;
}
.iconnos {
	font-size: 36px;
	border-radius: 50%;
    width: 68px;
    line-height: 68px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #1c7a44;
    text-align: center;
    display: block;
}
.iconnos:hover {
	background-color: pink;
	color: black;
}
.servicios {
	color: white;
	margin-top: 50px;
    margin-bottom: 70px;
}
/*fin section verde*/
/*footer*/
.shape {
	display: inline-block;
}
footer a {
	padding: 0px 15px;
	color: #838f9a;
}
footer a:hover {
	color: white;
	text-decoration: none;
}
footer p {
	padding: 0px 15px;
	color: #838f9a;
	margin: 0;
}
/*fin footer*/
/* Parte Sandra */

/* Parte Stefy */
/* Parte Stefy */ 
